body{
background-color: lightblue;
}
.antar{
font-family: Impact, Charcoal, sans-serif;
}
.pradzia{
font-family: Impact, Charcoal, sans-serif;
color:yellow;


}
#autorius{
font-size:45pt;
}
a:hover{
	color:white;
	font-size:60pt;
	text-decoration:none;
}
table, td{
	border:51px solid green;
}
table{
	margin:auto;
	width:90%;
	text-align:center;
	vertical-align:middle;
}
.vardai{
	font-family:Impact, Charcoal, sans-serif;
	font-size:20pt;
	background-color:purple;
}