body {
  background-color: lightblue;
}
.body{
	background-image:url("https://img.taste.com.au/9If0-kVz/taste/2016/11/classic-apple-pie-84181-1.jpeg");
}

table, th, td {
  
}
#autorius{
font-size:56pt;
color:blue;
text-align:right;
}
.receptas{
font-size:45pt;
text-align:center;
color:green;
font-weight: bold;
font-style: italic;	
}
.kitas{
text-align:center;
font-size:20pt;
font-style: italic;
color: red;	
}
.photo{
	width:300pt;
	height:200pt;
	margin:auto;
	

}
.antra{
	text-align:center;
}
a:link{
	text-decoration: none;
}
a:hover{
	color:red;
	font-weight: bold;
}
